/*#region Main*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(0deg, #181626d0 0%, #381c83 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*#endregion */

/* #region todo list */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  height: 2rem;
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

/* .filter-todo {
   padding: 1rem; 
} */
.todo li {
  flex: 1;
  font-size: medium;
}

.trash-btn,
.complete-btn {
  height: 100%;
  width: 2rem;
  background: #2e5090;
  color: white;
  border: none;
  cursor: pointer;
  /* font-size: 1rem; */
}

.complete-btn {
  background: rgb(0, 131, 76);
}
.todo-item {
  padding: 0rem 0.5rem;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* #endregion */
