* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: linear-gradient(#0000005e, #00000069),
    url("./img/grocerystore1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: repeat-y;
}

.App {
  /* position: fixed; */
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*#endregion */

/* #region todo list */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  height: 2rem;
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

/* .filter-todo {
   padding: 1rem; 
} */
.todo li {
  flex: 1;
  font-size: medium;
}

.trash-btn,
.complete-btn {
  height: 100%;
  width: 2rem;
  background: #2e5090;
  color: white;
  border: none;
  cursor: pointer;
  /* font-size: 1rem; */
}

.complete-btn {
  background: rgb(0, 131, 76);
}
.todo-item {
  padding: 0rem 0.5rem;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* #endregion */
